<template lang='pug'>
    v-card
        v-card-title.primary-title
            div
                h3.headline {{ room.name }}
                div {{ room.clients }} / {{ room.maxClients }}
        v-card-actions
            v-btn(flat @click="$router.push({ name: 'room', params: { id: room.id } })") Join
</template>

<script>
export default {
    name: 'room-list-card',
    props: [
        'room'
    ],
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
