<template lang='pug'>
    extends ../Toolbar.pug
    block toolbar
        list-manager
    block content
        v-container.grid-list-md
            v-layout.row.wrap
                v-flex.xs12.sm6.md3(v-for="room in rooms" :key="room.id")
                    room-card(:room="room")
                
</template>

<script>
import Manager from './Manager'
import Card from './Card'

export default {
    name: 'room-list',
    components: {
        'list-manager': Manager,
        'room-card': Card,
    },
    mounted () {
        window.onbeforeunload = null
        this.$socket.emit('req.update')
    },
    data() {
        return {
            rooms: [],
        }
    },
    sockets:{
        'res.update' (rooms) {
            this.rooms = rooms
        },
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
