<template lang='pug'>
    div
        v-menu.offset-y(v-model="showMenu" :close-on-content-click="false")
            template(v-slot:activator="{ on }")
                v-icon(v-on="on") add_box
            v-card.wrapper
                v-list
                    v-list-tile
                        v-list-tile-action
                            v-text-field(v-model="name" label="Name" full-width v-validate="{ required: true }")
                    v-list-tile
                        v-list-tile-action
                            v-text-field(v-model="maxClients" label="Max Players" full-width v-validate="{ rules: { regex: /^\d+$/ }, required: true }")
                    v-list-tile
                        v-list-tile-action
                            v-text-field(v-model="width" label="Width" full-width v-validate="{ rules: { regex: /^\d+$/ }, required: true }")
                        v-list-tile-action
                            v-text-field(v-model="height" label="Height" full-width v-validate="{ rules: { regex: /^\d+$/ }, required: true }")
                    v-list-tile
                        v-list-tile-action
                            v-btn(v-on:click="create" flat)
                                v-icon done
</template>

<script>

export default {
    name: 'room-list-manager',
    data () {
        return {
            showMenu: false,
            name: 'Room 1',
            maxClients: 4,
            width: 64,
            height: 64,
        }
    },
    methods: {
        create () {
            this.$socket.emit('req.create', {
                name: this.name,
                maxClients: this.maxClients,
                width: this.width,
                height: this.height,
            })
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.wrapper {
    padding-top: 1em;
}
</style>
