<template lang='pug'>
    .con
        a#downloader(@click="saveCanvas" download="pixel-painter-image.png" ref="downloader")
        canvas#canv(ref="canv")
        canvas#bg(@click="clickCanvas" ref="bg")
</template>

<script>
export default {
    name: 'room-sketch-pixel-canvas',
    props: ['room', "color"],
    sockets: {
        'res.clear' () {
            this.clear()
        },
        'res.draw' (data) {
            this.draw(data)
        }
    },
    data () {
        return {
            boxSize: 16,
        }
    },
    mounted() {
        this.$root.$on('saveCanvas', () => {
            this.$refs.downloader.click()
        })
    },
    watch: {
        room () {
            this.init(this.room)
            this.room.pos.forEach(posData => this.draw(posData))
        }
    },
    methods: {
        init (room) {
            const canvas = this.$refs.canv
            const bg = this.$refs.bg

            canvas.width = room.width
            canvas.height = room.height
            
            bg.width = canvas.width
            bg.height = canvas.height

            let ctx = bg.getContext("2d")

            // Draw Board...
            for (let x = 0; x <= bg.width; x += this.boxSize) {
                ctx.moveTo(x, 0)
                ctx.lineTo(x, bg.height)
            }

            for (let x = 0; x <= bg.height; x += this.boxSize) {
                ctx.moveTo(0, x)
                ctx.lineTo(bg.width, x)
            }

            ctx.strokeStyle = "#DDDDDD"
            ctx.stroke()
        },
        draw (data) {
            const canvas = this.$refs.canv
            const ctx = canvas.getContext("2d")

            ctx.clearRect(data.dx, data.dy, this.boxSize, this.boxSize)

            if (data.color !== null) {
                ctx.fillStyle = data.color
                ctx.fillRect(data.dx, data.dy, this.boxSize, this.boxSize)
            }
        },
        clickCanvas (e) {
            const dx = Math.floor(e.offsetX / this.boxSize) * this.boxSize
            const dy = Math.floor(e.offsetY / this.boxSize) * this.boxSize

            this.draw({
                dx: dx,
                dy: dy,
                color: this.color,
            })

            this.$socket.emit('req.draw', {
                dx: dx,
                dy: dy,
                color: this.color,
                id: this.room.id
            })
        },
        saveCanvas () {
            const canvas = this.$refs.canv
            const downloader = this.$refs.downloader
            downloader.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream")
        },
        clear () {
            const canvas = this.$refs.canv
            let ctx = canvas.getContext("2d")
            ctx.clearRect(0, 0, canvas.width, canvas.height)
        },
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.con {
    height: 92vh;
    position: relative;
    overflow: scroll;
    text-align: center;
}
canvas {
    position: absolute;
    display: block;
    margin: 0 auto;
}
#bg {
    z-index: 1
}
#canv {
    z-index: 0
}
#downloader {
    visibility: hidden
}
</style>
