<template lang='pug'>
    extends ../Toolbar.pug
    block title
        v-toolbar-title {{ this.room.name }}
    block toolbar
        tools(@input="changeColor" :room="room")
    block content
        pixel-canvas(:color="this.color" :room="this.room")
</template>

<script>
import PixelCanvas from './PixelCanvas'
import Tools from './Tools'

export default {
    name: 'room-sketch',
    mounted() {
        this.$socket.emit('req.join', this.$route.params.id)
    },
    components: {
        'pixel-canvas': PixelCanvas,
        'tools': Tools
    },
    data () {
        return {
            color: '#000000',
            room: {},
        }
    },
    sockets: {
        'res.join' (data) {
            this.room = data
        },
        'res.leave' () {
            this.$router.push('/')
        },
    },
    beforeRouteLeave (to, from, next) {
        const confirmLeave = window.confirm("Do you wish to Leave?")
        if (confirmLeave) {
            this.$socket.emit('req.leave', this.room.id)
            next()
        }
    },
    methods: {
        changeColor (c) {
            this.color = c
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
