<template lang='pug'>
    div
        v-menu.offset-y(v-model="showMenu" :close-on-content-click="false")
            template(v-slot:activator="{ on }")
                v-icon(v-on="on") settings
            v-card
                v-card-text
                    v-text-field(full-width v-model="color" v-on:keyup="updateColor" v-validate="{ rules: { regex: /^#[0-9A-F]{6}$/i, required: true} }" label="Color")
                v-card-actions
                    v-layout.justify-space-around
                        v-btn(flat v-on:click="setColorNull")
                            v-icon remove
                        v-btn(flat v-on:click="confirmClear")
                            v-icon delete_sweep
                        v-btn(flat v-on:click="saveAs")
                            v-icon save_alt
                        v-btn(flat @click="$router.push({name: 'lobby'})")
                            v-icon keyboard_backspace
                        
</template>

<script>
export default {
    name: 'room-sketch-tools',
    props: [
        'room',
    ],
    data () {
        return {
            color: '#000000',
            showMenu: false
        }
    },
    methods: {
        confirmClear () {
            if(confirm("Clear everything?") === true) {
                this.$socket.emit('req.clear', this.room.id)
            }
        },
        setColorNull() {
            this.color = null
            this.updateColor()
        },
        saveAs () {
            this.$root.$emit('saveCanvas')
        },
        updateColor () {
            this.$emit('input', this.color)
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.wrapper {
    padding-top: 1em;
}
.v-btn {
    min-width: 0;
}
</style>
