<template lang='pug'>
    v-app.ma-0
        router-view
</template>

<script>
export default {
    name: 'app',
    sockets: {
        'res.error' (err) {
            alert(err)
        },
        'res.created' (id) {
            this.$router.push({ name: 'room', params: { id: id } })
        },
    }
}
</script>

<style>
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
</style>